/10july.py
/11July.py
/11julyhw.py
/12july.py
/12julyhw.py
/12June.py
/12junehw.py
/13july.py
/13july_reduce.py
/14julyhm.py
/14June.py
/15june.py
/16June.py
/17Julyhw_Const.py
/17july_Constructoor.py
/17mayHW.py
/18 May.py
/18july.py
/18julyhm_userDT.py
/19Jcalculator.py
/19julyhw_var.py
/19july_var_type.py
/19June.py
/19May.py
/1June.py
/20july_var_meth.py
/20June.py
/21july_inheritance.py
/21July_Inher_hw.py
/22June.py
/22May.py
/23june.py
/23May.py
/24julyhw_operator_overload.py
/24july_poly.py
/24Mayhw.py
/25julyhw_meth_override.py
/25july_overload_riding.py
/25may.py
/25MayHW.py
/26JulyHW_Pattern.py
/26July_pattern_P.py
/26June.py
/26May.py
/26MayHW.py
/27July_abstraction.py
/27June.py
/27JuneHW.py
/28july.py
/28july_encapsulation.py
/28June.py
/28Junehw.py
/29May.py
/29MayHW.py
/2June.py
/2JuneHw.py
/30June.py
/30May.py
/30MayHW.py
/31julyproject.py
/31May.py
/31MayHW.py
/3July.py
/3julyhw.py
/4july.py
/5June.py
/5JuneHW.py
/6June.py
/6junehw.py
/7June.py
/8June.py
/8junehw.py
/9june.py
/9junehw.py
/FILE
/Function_Project.py
/Grooming Session
/list methods.txt
/Notes
/p.py
/practice1.py
/project.py
/recordings
/task pattern.py